img2dataset
clip-anytorch
tqdm
fire
torch
torchvision
numpy
faiss-cpu
flask
flask_restful
flask_cors
pandas>=1.1.5,<2
pyarrow
autofaiss
webdataset
h5py
prometheus-client
fsspec
sentence-transformers
wandb
open-clip-torch
requests
aiohttp
multilingual-clip
